*{
    margin: 0;
     padding: 0;  
   }
   body{
       background: linear-gradient(#01012e,#240019);
    height: 100hv; 
     font-family: system-ui; 
   }
   section{
       background: url('stars1.png');
       height: 100vh; 
       display: flex;
       justify-content: center;
       align-items: center;
   }
   ul{
       text-align: center;
   
   }
   ul:hover li a{
       opacity: 0;
   }
   ul li {
       list-style: none;
       margin: 14px 0; 
   }
   ul li a{
       color: #fff;
       text-decoration: none;
       font: size 20px; 
       font-weight: 500;
   background: darkblue;
   padding:6px 15px ;
   border-radius: 20px;
   display: inline-block;
   width: 120px;
   transition: 0.5s;
   position: relative;
   z-index: 10;
   
   }
   ul li a:hover{
       transform: scale(1.5);
       background: darkmagenta;
   opacity: 1;
   
   
   }
   ul li:after{
       content:attr(data-text);
       color: #fff;
       position: absolute;
       left: 50%;
       top: 80%;
       transform: translate(-50%,-50%);
       font-weight: 900;
       text-transform: lowercase;
       opacity: 0;
   pointer-events: none;
   transition: 0.5s;
   }
   ul li:hover:after{
       opacity:0.5;
   }
   ul li:hover::before{
      opacity: 0.5;
      width:80px ; 
   }